name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build-apple:
    name: Build and Test (macOS)
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Print Xcode & Swift Version
      run: |
        xcodebuild -version
        swift --version
    - name: Build & Test
      run: swift test -v --enable-code-coverage
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Upload test results to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/test-results-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
  build-linux:
    name: Build and Test (Linux) - Swift ${{ matrix.swift }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift: ["5.10", "6.0", "6.1", "6.2"]
    steps:
    - uses: vapor/swiftly-action@v0.2
      with:
        toolchain: ${{ matrix.swift }}
    - uses: actions/checkout@v4
    - name: Test
      run: swift test -v
  build-android:
    name: "Build and Test (Android)"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: skiptools/swift-android-action@v2
      with:
        swift-version: 6.1
